body {background-color: #8d8d8d;}
.top-bar{height:90px;left:0;right:0;z-index:10000;overflow:visible;}
.top-bar a{color:#777777;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.top-bar h3 a:hover,.top-bar .brand:hover,.top-bar ul a:hover{background-color:#333;background-color:rgba(255, 255, 255, 0.05);color:#ffffff;text-decoration:none;}
.top-bar h3{position:relative;}
.top-bar h3 a,.top-bar .brand{float:left;display:block;padding:8px 20px 12px;margin-left:-20px;color:#ffffff;font-size:20px;font-weight:200;line-height:1;}
.top-bar p{margin:0;line-height:40px;}.top-bar p a:hover{background-color:transparent;color:#ffffff;}
.top-bar form{float:left;margin:5px 0 0 0;position:relative;filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;}
.top-bar form.pull-right{float:right;}
.top-bar input{background-color:#444; margin-top: 40px;background-color:rgba(255, 255, 255, 0.3);font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:normal;font-weight:13px;line-height:1;padding:4px 9px;color:#ffffff;color:rgba(255, 255, 255, 0.75);border:1px solid #111;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.25);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.top-bar input:-moz-placeholder{color:#e6e6e6;}
.top-bar input::-webkit-input-placeholder{color:#e6e6e6;}
.top-bar input:hover{background-color:#bfbfbf;background-color:rgba(255, 255, 255, 0.5);color:#ffffff;}
.top-bar input:focus,.top-bar input.focused{outline:0;background-color:#ffffff;color:#404040;text-shadow:0 1px 0 #ffffff;border:0;padding:5px 10px;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);box-shadow:0 0 3px rgba(0, 0, 0, 0.15);}
.top-bar-inner,.top-bar .fill{
	background-color:#222;
	background-color:#222222;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#425655), to(#222222));
	background-image:-moz-linear-gradient(top, #425655, #222222);
	background-image:-ms-linear-gradient(top, #425655, #222222);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #425655), color-stop(100%, #222222));
	background-image:-webkit-linear-gradient(top, #425655, #222222);
	background-image:-o-linear-gradient(top, #425655, #222222);
	background-image:linear-gradient(top, #425655, #222222);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#425655', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.top-bar div>ul,.nav{display:block;float:left;margin:0 10px 0 0;position:relative;left:0;}.top-bar div>ul>li,.nav>li{display:block;float:left;}
.top-bar div>ul a,.nav a{display:block;float:none;padding:50px 10px 23px;line-height:19px;text-decoration:none;}.top-bar div>ul a:hover,.nav a:hover{color:#ffffff;text-decoration:none;}
.top-bar div>ul .active>a,.nav .active>a{background-color:#222;background-color:rgba(0, 0, 0, 0.5);}
.top-bar div>ul.secondary-nav,.nav.secondary-nav{float:right;margin-left:10px;margin-right:0;}.top-bar div>ul.secondary-nav .menu-dropdown,.nav.secondary-nav .menu-dropdown,.top-bar div>ul.secondary-nav .dropdown-menu,.nav.secondary-nav .dropdown-menu{right:0;border:0;}
.top-bar div>ul a.menu:hover,.nav a.menu:hover,.top-bar div>ul li.open .menu,.nav li.open .menu,.top-bar div>ul .dropdown-toggle:hover,.nav .dropdown-toggle:hover,.top-bar div>ul .dropdown.open .dropdown-toggle,.nav .dropdown.open .dropdown-toggle{background:#444;background:rgba(255, 255, 255, 0.05);}
.top-bar div>ul .menu-dropdown,.nav .menu-dropdown,.top-bar div>ul .dropdown-menu,.nav .dropdown-menu{background-color:#333;}.top-bar div>ul .menu-dropdown a.menu,.nav .menu-dropdown a.menu,.top-bar div>ul .dropdown-menu a.menu,.nav .dropdown-menu a.menu,.top-bar div>ul .menu-dropdown .dropdown-toggle,.nav .menu-dropdown .dropdown-toggle,.top-bar div>ul .dropdown-menu .dropdown-toggle,.nav .dropdown-menu .dropdown-toggle{color:#ffffff;}.top-bar div>ul .menu-dropdown a.menu.open,.nav .menu-dropdown a.menu.open,.top-bar div>ul .dropdown-menu a.menu.open,.nav .dropdown-menu a.menu.open,.top-bar div>ul .menu-dropdown .dropdown-toggle.open,.nav .menu-dropdown .dropdown-toggle.open,.top-bar div>ul .dropdown-menu .dropdown-toggle.open,.nav .dropdown-menu .dropdown-toggle.open{background:#444;background:rgba(255, 255, 255, 0.05);}
.top-bar div>ul .menu-dropdown li a,.nav .menu-dropdown li a,.top-bar div>ul .dropdown-menu li a,.nav .dropdown-menu li a{color:#999;text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}.top-bar div>ul .menu-dropdown li a:hover,.nav .menu-dropdown li a:hover,.top-bar div>ul .dropdown-menu li a:hover,.nav .dropdown-menu li a:hover{background-color:#191919;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));background-image:-moz-linear-gradient(top, #292929, #191919);background-image:-ms-linear-gradient(top, #292929, #191919);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));background-image:-webkit-linear-gradient(top, #292929, #191919);background-image:-o-linear-gradient(top, #292929, #191919);background-image:linear-gradient(top, #292929, #191919);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);color:#ffffff;}
.top-bar div>ul .menu-dropdown .active a,.nav .menu-dropdown .active a,.top-bar div>ul .dropdown-menu .active a,.nav .dropdown-menu .active a{color:#ffffff;}
.top-bar div>ul .menu-dropdown .divider,.nav .menu-dropdown .divider,.top-bar div>ul .dropdown-menu .divider,.nav .dropdown-menu .divider{background-color:#222;border-color:#444;}
.top-bar ul .menu-dropdown li a,.top-bar ul .dropdown-menu li a{padding:4px 15px;}

.main-content > .section h1:first-of-type { visibility: hidden; height: 0px; margin: 0px; padding: 0px; }
/*.main-content > .section { margin-top: -36px; }*/
.main-content { min-height: 600px; top: 0px; }
.sidebar { top: 0px; }
.related { visibility: hidden; height: 0px; margin: 0px; padding: 0px; }

.btn.large{font-size:26px;line-height:normal;padding:12px 20px 12px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn.success,.alert-message.success{
	background-color:#82d84e;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#acef2a), to(#82d84e));
	background-image:-moz-linear-gradient(top, #acef2a, #82d84e);
	background-image:-ms-linear-gradient(top, #acef2a, #82d84e);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #acef2a), color-stop(100%, #82d84e));
	background-image:-webkit-linear-gradient(top, #acef2a, #82d84e);
	background-image:-o-linear-gradient(top, #acef2a, #82d84e);
	background-image:linear-gradient(top, #acef2a, #82d84e);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acef2a', endColorstr='#82d84e', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.35);
	border-color:#57a957 #57a957 #3d773d;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.footer {
	padding-top: 15px;
	clear: both;		
    background: #8d8d8d; 	 	 		
	border-top: solid 1px #676767;
	width: 100%;
	color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);		
}	

.footer ul {
    float: left;
    margin: 0;
    padding: 10px 2% 20px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 22%;
    list-style: none;
}

.footer a {text-decoration: none;color: rgba(255, 255, 255, 0.7);font-size: 12px;}
.footer a:hover {text-decoration: underline;}

.footer ul:last-child {
    padding-right: 0;
}

.footer ul li a {
    text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer ul li h5 {
	color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding-bottom: 10px;
	line-height: 20px;
	border-bottom:1px solid #676767;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);	}

.footer ul li h5 a {font-size: 14px;opacity: 1;}

.footer .copyright {
    font-size: 12px;
	border-top:1px solid #808080;
    clear: both;
    padding: 10px 0 20px;
}

.slider {
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	background:url(../../resources/images/bg.jpg) no-repeat top center #a6e5ec;
	padding-top:15px;padding-bottom:15px;
	-webkit-box-shadow: inset 0 10px 60px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 10px 60px rgba(0,0,0,.5);
}

.bottom {background-color:#b0b0b0;
	background-color:#b0b0b0;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#b0b0b0));
	background-image:-moz-linear-gradient(top, #eeeeee, #b0b0b0);
	background-image:-ms-linear-gradient(top, #eeeeee, #b0b0b0);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #b0b0b0));
	background-image:-webkit-linear-gradient(top, #eeeeee, #b0b0b0);
	background-image:-o-linear-gradient(top, #eeeeee, #b0b0b0);
	background-image:linear-gradient(top, #eeeeee, #b0b0b0);
	-webkit-background-size:100% 80px;
	-moz-background-size:100% 80px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b0b0b0', GradientType=0);
	padding-bottom:15px;
	padding-top:15px;
	border-top: 1px solid #add8dd;}
	
.bottom h1 {
	text-shadow:0 1px 0 #ffffff;
}	

.bottom h4 {
	text-shadow:0 1px 0 rgba(255,255,255,.7);
}

.bottom h2 {
    color: rgba(0,0,0,0.6);
	text-shadow:0 1px 0 rgba(255,255,255,.7);
	margin-bottom: 6px;
}

.rounded-corner-box {
	min-height: 220px;
	background-color: rgba(0,0,0,.7);
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: -60px;
}

.rounded-corner-box h2 {
	color: #ffffff;
	font-size: 32px;
	line-height: 1;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	padding-bottom: 8px;
}

.rounded-corner-box p {
	padding-bottom: -16px;
}

.arrow {
    position:relative;
    left: 460px;
    top: -100px;
    line-height:0px;
}

.frame {
	float: left;
	background-color: rgba(255,255,255,0.3);
	border: solid 1px rgba(0,0,0,0.25);
	padding: 5px;
	height: 80px;
	width: 80px;
	margin-right: 8px;
	margin-bottom: 20px;
}

#download-link{
    color: rgba(0,0,0,0.6);
	text-shadow:0 1px 0 rgba(255,255,255,.7);	
	font-size: 22px;
	text-align: center;
	font-weight:bold;
	background-color:#b0eb9b;
	margin-bottom:10px;
	padding:10px;
	min-height:20px;
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#download-link.hover{
	color: rgba(13,68,0,1);
	background-color:#bfeb9b;
	border:1px solid #d8f000;
	border:1px solid rgba(216, 240, 0, 0.6);
}

a { color: #0198ba; }
a:hover { color: #79c176; }

.code {
  font-family: courier;
  font-style: normal;
}

.keystroke {
  font-family: courier;
  font-style: normal;
}

.inline {
  display: inline;
}